body {
    background-color: #E4FFF7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.font {
    font-family: "beth-ellen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.submit-button {
    font-family: "beth-ellen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: pink;
    font-size: 18px;
    text-align: center;
}

button {
    background-color: #f9fff2;
    border: 5px solid #6EC0A9;
    border-radius: 16px;
}

button:hover {
    border-color: #5362F6;
    background-color: white;
  }

.enter-text {
    text-align: center;
    font-family: "beth-ellen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.error-msg {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

.form {
    width: 30em;
    height: 5em;
  }